<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            text-align: center;
        }
        
        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
    <title>
        Email Spam Classifier
    </title>
</head>

<body>
    <h1>Email Spam Classifier</h1>
    <div>
        <form method="POST">
            <textarea rows="12" cols="60" name="content" placeholder="Enter your email here" value="{{ text }}">{{ text }}</textarea>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        <br>
        <a href="/">Reset</a>
    </div>
    <div>
        <p id="display">{{ text }}</p>
    </div>
</body>

</html>